body {
    font-family: Arial, sans-serif;
    background-color: #f6f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 450px;
    height: 300px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #5a5a5a;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    margin-bottom: 14px;
}

.dropdown-container {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 270px;
    height: 50px;
}

button:hover {
    background-color: #0059b3;
}

.weather-info {
    margin-top: 20px;
    font-size: 18px;
}

.weather-info p {
    margin: 10px 0;
}

.weather-info i {
    margin-right: 8px;
}
